*{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
  }
  .container {
    color: #F6F4E4;
    padding: 40px 0;
  }

  body {
    background: url(kontakt_img.jpg) no-repeat center;
    background-size: cover;
  }

  .border{
    width: 100px;
    height: 10px;
    background: rgb(104, 164, 184);
    margin: 40px auto;
  }
  
  .contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
    color: #F6F4E4 ;
  }
  
  .contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #F6F4E4;
    transition: 0.5s;
    border-radius: 10px;
  }

  .contact-form-text:hover {
    background: rgb(25, 25, 25);
  }

  .contact-form-text:focus{
    box-shadow: 0 0 10px 4px lightblue;
  }

  textarea.contact-form-text{
    resize: none;
    height: 120px;
  }

  .contact-form-btn{
    border: 0;
    background: rgb(104, 164, 184);
    color: #F6F4E4;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
  }
  .contact-form-btn:hover{
    background: rgb(104, 164, 184);
    box-shadow: 0 0 10px 4px rgb(104, 164, 184);
  }


  /* underline text */


  
  .buttons{
    margin-top:30px;

  }
  .button{
    background-color: #f5f5f5;
    border:none;
    color:#707070;
    font-size:15px;
    padding: 10px 20px;
    margin:5px;
    border-radius:4px;
    outline:none;
  }
  .button:hover{
    border: 1px solid #c8c8c8;
    padding: 9px 19px;
    color:#808080;
  }
  .button:focus{
    border:1px solid #4885ed;
    padding: 9px 19px;
  }

  
  .bottom-links {
    color: #000000;
  }

  .buttonlogo {
    display: flex;
    height: 50px;
    padding: 0;
    background: #000000;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .buttonlogo:hover {
    background: #191a1a;
  }
  
  .buttonlogo:active {
    background: #222323;
  }
  
  .button__text,
  .button__icon {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: #fff;
    height: 100%;
  }
  
  .button__icon {
    font-size: 1.5em;
    background: rgba(0, 0, 0, 0.08);
  }

  ::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #dddddd;
}

::-webkit-scrollbar-thumb {
    background: lightblue;
}

#txt {
  color: #dddddd;
}